.contacts {
    font-family: Arial, sans-serif;
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
    ;
    border-radius: 5px;
  }
  
  .contacts h1 {
    color: #333;
  }
  
  
  
  
 .contacts p {
    font-family: Arial, Helvetica, sans-serif;
    padding: 10px;
  }
  
  

  